body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

section {
    position: relative;
    overflow: hidden;
}

p {
    line-height: 160%;
}

h1 {
    font-size: 3rem;

    @media (min-width: map_get($grid-breakpoints, sm)) {
        font-size: $h1-font-size;
    }
}

h2 {
    font-size: 2rem;

    @media (min-width: map_get($grid-breakpoints, lg)) {
        font-size: $h2-font-size - .5;
    }

    @media (min-width: map_get($grid-breakpoints, xl)) {
        font-size: $h2-font-size;
    }
}

h3 {
    font-size: 1.75rem;

    @media (min-width: map_get($grid-breakpoints, sm)) {
        font-size: $h3-font-size;
    }
}

a {
    transition: 0.35s;
    font-family: $headings-font-family;
}

ul {
    margin: 0;
    @extend .list-unstyled;
}

figure {
    margin: 0;
}

input {
    border-radius: 0;
    border: none;
    background: transparent;
}