#about {
  z-index: 5;
  padding-top: 60px;

  @media (min-width: map_get($grid-breakpoints, xxl)) {
    margin-top: -360px;
    padding-top: 0;
  }

  .about-item {
    display: flex;
    flex-direction: column;
    background: $dark;
    @extend %border-primary;

    @media (min-width: map_get($grid-breakpoints, lg)) {
      flex-direction: row;
    }

    .about-slider {
      z-index: 5;

      @media (min-width: map_get($grid-breakpoints, lg)) {
        width: 50%;
      }

      &-item {
        width: 100%;
        min-height: 350px;
        height: 100%;
        padding: 7% 15px 15px 10%;

        &__image {
          @extend %pos;
          @extend %img;
          z-index: -2;

          &::before {
            content: '';
            @extend %pos;
            background: linear-gradient(90.26deg, rgba(0, 0, 0, 0.7) 0.24%, rgba(0, 0, 0, 0) 99.98%)
          }
        }

        &__counter {
          position: absolute;
          top: 0;
          left: 0;
          line-height: 1;
          font-size: 120px;
          font-weight: bold;
          color: rgba(#fff, .3);
        }
      }
    }

    .slider-arrow {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 10;
    }

    .about-description {
      padding: 8% 3%;

      @media (min-width: map_get($grid-breakpoints, lg)) {
        width: 50%;
      }

      .title {
        margin-bottom: 20px;
      }

      .description {
        margin-bottom: 20px;
      }
    }
  }
}