.slider-arrow {

  .slider-arrow-item {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    cursor: pointer;

    svg {
      fill: $primary;
    }
  }
}